parameters:
    level: 1
    fileExtensions:
        - php
        - phtml
    excludePaths:
        - 'vendor/*'
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#unknown class ([^\s]+)Factory#'
        - '#invalid typehint type ([^\s]+)Factory#'
        - '#Variable \$[^\s]+ might not be defined#'
